@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
.app {
  width: 100%;
  font-family: var(--font-inter);
}

body {
  height: 100vh;
  font-family: var(--font-inter);
  background: rgb(33, 188, 241);
  background: linear-gradient(
    0deg,
    rgba(33, 188, 241, 0) 0%,
    rgba(165, 237, 165, 1) 100%
  );
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playball);
}
