@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: var(--font-inter);
}

body {
  background: rgb(33, 188, 241);
  background: radial-gradient(
    circle,
    rgba(33, 188, 241, 0.5930106466876972) 0%,
    rgba(166, 235, 254, 1) 50%,
    rgba(165, 237, 165, 1) 100%
  );
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playball);
}
